.root {
  width: 793px;
  height: 680px;
  position: relative;
  margin-right: -65px;
}

.smallPokeBall {
  position: absolute;
  top: 3%;
  left: -6%;
}

.cloud {
  position: absolute;
  left: -1%;
  bottom: 36%;
}

.cloudBig {
  position: absolute;
  left: 49.86%;
  top: 5%;
}

.pokeBall {
  position: absolute;
  top: 0%;
  right: -14%;
}

.pikachu {
  position: absolute;
  top: 0%;
  left: -15%;
}
