.root {
  width: 793px;
  height: 680px;
  position: relative;
  margin-right: -65px;
}

.smallPokeBall {
  position: absolute;
  top: 3%;
  left: 11%;
}

.cloud {
  position: absolute;
  left: 12.31%;
  bottom: 39.22%;
}

.cloudBig {
  position: absolute;
  left: 49.86%;
  top: 5%;
}

.pokeBall {
  position: absolute;
  top: 24.38%;
  right: -12%;
}

.pikachu {
  position: absolute;
  top: 0%;
  left: 4.11%;
}
