.root {
  height: calc(100vh - 152px);
  font-family: 'Karla', sans-serif;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heroTitle {
  font-size: 72px;
  line-height: 1.2;
  font-weight: normal;
}

.heroDesc {
  font-size: 32px;
  line-height: 1.2;
  font-weight: normal;
}
