@import '../../variables.scss';

.root {
  min-height: 100vh;
  background: linear-gradient(180deg, $third 0%, $primary 100%);
}

.contentWrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentText {
  width: 50%;
  display: block;
}

.heading {
  font-size: 72px;
  line-height: 1.2;
  font-weight: normal;
}

.heroDesc {
  font-size: 32px;
  line-height: 1.2;
  font-weight: normal;
}

.contentParallax {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.desc {
  font-family: 'Karla', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 37px;
}
