.header {
  width: 100%;
  background: #f5db13;
  box-shadow: 0px 4px 16px rgba(1, 28, 64, 0.2);
}

.header__logo {
  width: 157px;
  height: 63px;
  padding-top: 14px;
  padding-bottom: 16px;
}

.navigation {
  min-width: 585px;
}

.navigation__list {
  display: flex;
  justify-content: space-between;
}
