.root {
  width: 100%;
}

.title {
  text-align: center;
  padding-top: 40px;
}

.pokemonList {
  width: 1125px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 352px);
  grid-template-rows: repeat(3, 137px);
  grid-gap: 35px;
}

.inputWrap {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.searchInput {
  width: 1088px;
  height: 57px;
  border: none;
  outline: none;
  border-radius: 40px;
  background: #f2f2f2;
  padding-left: 30px;

  font-size: 16px;
  font-family: 'Source Sans Pro', serif;
  color: #212121;
  opacity: 0.8;
}
