@import '../../variables';

.root {
  background-color: $danger;
  height: 100vh;
}

.wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: inherit;
  position: relative;
}

.text {
  font-family: 'Karla', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 650px;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.subtitle {
  font-family: 'Karla', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  color: #000;
}

.subtitle > span {
  color: #f2f2f2;
}

.layer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;
}
